<?xml version="1.0"?>
<model>
  <name>motherdrone</name>
  <version>1.0</version>
  <sdf version="1.5">motherdrone.sdf</sdf>

  <author>
   <name>Jm</name>
   <email>jsm</email>
  </author>
  <author>
    <name>namename</name>
    <email>email</email>
  </author>

  <description>motherdrone
  </description>
</model>
